<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <handlers>
    <add name="httpPlatformHandler" path="*" verb="*"
               modules="httpPlatformHandler" resourceType="Unspecified"/>
  </handlers>
  <httpPlatform processPath="D:\home\python364x86\python.exe" arguments="run_waitress_server.py"
   stdoutLogFile="D:\home\LogFiles\python.log"  requestTimeout="00:04:00" startupTimeLimit="120" startupRetryCount="3" stdoutLogEnabled="true">
    <environmentVariables>
      <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot"/>
      <environmentVariable name="GDAL_LIBRARY_PATH" value="D:\home\site\bin\gdal202.dll"/>
      <environmentVariable name="GEOS_LIBRARY_PATH" value="D:\home\site\bin\geos_c.dll"/>
      <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
    </environmentVariables>
  </httpPlatform>
 </system.webServer>
</configuration>